{% extends 'base.html' %}

{% load static %}

{% block lego %}
<h1>Customer Details</h1>


<h2>First Name: {{customer.first_name}} Last name: {{customer.last_name}}</h2>
<ul>
    <li>Email: {{customer.email}}</li>
    <li>Phone Number: {{customer.phone_number}}</li>
    <li>Address: {{customer.address}}</li>
    <li>City: {{customer.city}}</li>
    <li>Country: {{customer.country}}</li>
<!--    how many rentals did he do click on it lead to list of rentals he did -->
<!--    current renatal he is using now-->
<!--    favorite vehicle-->
</ul>


<a href="{% url 'customers' %}"> Back to List of Customers</a>

{% endblock %}